<h2>TABLE STRUCTURES</h2>

<p><span style="font-size: 12pt;"><strong>1. e_commands</strong> - This are the list of valid commands in accessing the application.</span></p>

In [ ]:
CREATE TABLE e_commands (
  id char(36) NOT NULL,
  name varchar(100) DEFAULT NULL,
  description varchar(100) DEFAULT NULL,
  inactive tinyint NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;">execute default data....</span></p>

In [ ]:
insert into e_commands (id, name, description, inactive)
select '5f94fe3a-6198-11eb-a2f4-071f884ff2c1', 'reg', 'register a subscriber', 0 union all
select '5f94fe3a-6198-11eb-a2f4-071f884ff2c2', 'transfer', 'transfer a fund to a subscriber', 0 union all 
select '5f94fe3a-6198-11eb-a2f4-071f884ff2c3', 'bal', 'balance inquiery', 0 union all 
select '5f94fe3a-6198-11eb-a2f4-071f884ff2c4', 'buy', 'buy a product', 0 union all
select '5f94fe3a-6198-11eb-a2f4-071f884ff2c5', 'refund', 'refund an amount', 0

<p><span style="font-size: 12pt;"><strong>2. e_products</strong> - It contains the item for purchase.&nbsp;</span><span style="font-family: Menlo; font-size: 12px;">beginnning</span><span class="Apple-converted-space" style="font-family: Menlo; font-size: 12px;">&nbsp;</span></p>

In [ ]:
CREATE TABLE e_products (
  id char(36) NOT NULL,
  name varchar(100) DEFAULT NULL,
  description varchar(100) DEFAULT NULL,
  inactive tinyint NOT NULL DEFAULT '0',
  amount decimal(15,2) NOT NULL DEFAULT '0.00'
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;">Execute default data...</span></p>

In [ ]:
insert into e_products (id, name, description, inactive, amount)
select 'af822dcc-6199-11eb-a2f4-071f884ff2c1', 'sm30', 'smart regular P30', 0, 27 union all
select 'af822dcc-6199-11eb-a2f4-071f884ff2c1', 'sm60', 'smart regular P60', 0, 54 union all
select 'af822dcc-6199-11eb-a2f4-071f884ff2c1', 'sm100', 'smart regular P100', 0, 90

<p><span style="font-size: 12pt;"><strong>3. e_subscribers</strong> - It contains the list of subscribers.</span></p>

In [ ]:
CREATE TABLE e_subscribers (
  id char(36) NOT NULL,
  upline_id char(36) NOT NULL DEFAULT '0',
  cellno varchar(11) NOT NULL,
  last_name varchar(100) NOT NULL,
  first_name varchar(100) NOT NULL,
  mi varchar(1) NOT NULL,
  inactive tinyint NOT NULL DEFAULT '0',
  blocked tinyint NOT NULL DEFAULT '0',
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;">Execute default data...</span></p>

In [ ]:
insert into e_subscribers (id, upline_id, cellno, last_name, first_name, mi, inactive, blocked)
select '441e7d8c-619f-11eb-a2f4-071f884ff2c1', '', '09222853161', 'dela Cruz', 'Juan', 'T', 0, 0 union all
select '441e7d8c-619f-11eb-a2f4-071f884ff2c2', '441e7d8c-619f-11eb-a2f4-071f884ff2c1', '09212753188', 'dela Cruz', 'Juana', 'T', 0, 0 union all
select '441e7d8c-619f-11eb-a2f4-071f884ff2c3', '441e7d8c-619f-11eb-a2f4-071f884ff2c1', '09201632077', 'Santiago', 'Angelica', 'C', 0, 0

<p><span style="font-size: 12pt;"><strong>4. e_inbox</strong> - All incoming messages are stored here.</span></p>

In [ ]:
CREATE TABLE e_inbox (
  id char(36) NOT NULL,
  cellno varchar(11) NOT NULL,
  message text NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;"><strong>5. e_outbox</strong> - All messages to be sent are stored here.</span></p>

In [ ]:
CREATE TABLE e_outbox (
  id char(36) NOT NULL,
  e_inbox_id char(36) NULL,
  cellno varchar(11) NOT NULL,
  message text NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;"><strong>6. e_sent</strong> - All messages sent are stored here coming from e_outbox</span></p>

In [ ]:
CREATE TABLE e_sent (
  id char(36) NOT NULL,
  e_outbox_id char(36) NULL,
  cellno varchar(11) NOT NULL,
  message text NOT NULL,
  sent TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;"><strong>7. e_ledger</strong> - Contains the detailed transaction of the subscriber.</span></p>

In [ ]:
CREATE TABLE e_ledger (
  id char(36) NOT NULL,
  e_subscribers_id char(36) NULL,
  e_inbox_id char(36) NULL,
  e_command_id char(36) NULL,
  amount_beginning decimal(15,2) NOT NULL DEFAULT '0.00',
  amount_actual decimal(15,2) NOT NULL DEFAULT '0.00',
  document_date TIMESTAMP NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

<p><span style="font-size: 12pt;">Execute default data</span></p>

In [ ]:
insert into e_ledger (id, e_subscribers_id, e_inbox_id, e_command_id, amount_beginning, amount_actual, document_date)
select '2d6bce0a-61a4-11eb-a2f4-071f884ff2ce', '441e7d8c-619f-11eb-a2f4-071f884ff2c1', null, '5f94fe3a-6198-11eb-a2f4-071f884ff2c2',0,1000000, now()